@import '../variables.scss';

.about {
  margin-top: 6.5rem;
  margin-bottom: 6.5rem;
  margin-left: 6rem;
}
#about-name {
  color: $primaryTextColor;
}

#about-paragraph {
  color: $secondaryTextColor;
}
