@import '../variables.scss';

#about {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
}
.about-name {
  color: $primaryTextColor;
}

.about-paragraph {
  color: $secondaryTextColor;
}
