@import '../variables.scss';

#about {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 30px;
  overflow: hidden;
  width: 232px;
  white-space: nowrap;
  border-right-width: 2px;
  border-right-style: solid;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 232px;
  }
}

@media (prefers-color-scheme: no-preference) {
  #about {
    border-right-color: $primaryTextColor;
  }

  .about-name {
    color: $primaryTextColor;
  }

  .about-paragraph {
    color: $secondaryTextColor;
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: $primaryTextColor;
    }
  }
}

@media (prefers-color-scheme: light) {
  #about {
    border-right-color: $primaryTextLightColor;
  }

  .about-name {
    color: $primaryTextLightColor;
  }

  .about-paragraph {
    color: $secondaryTextLightColor;
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: $primaryTextLightColor;
    }
  }
}

@media (prefers-color-scheme: dark) {
  #about {
    border-right-color: $primaryTextColor;
  }

  .about-name {
    color: $primaryTextColor;
  }

  .about-paragraph {
    color: $secondaryTextColor;
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: $primaryTextColor;
    }
  }
}
