@import '../variables.scss';

#copy-write {
  position: fixed;
  margin-left: 32px;
  bottom: 24px;
}

@media (prefers-color-scheme: no-preference) {
  .copy-write-text {
    color: $secondaryTextColor;
  }
}

@media (prefers-color-scheme: light) {
  .copy-write-text {
    color: $secondaryTextLightColor;
  }
}

@media (prefers-color-scheme: dark) {
  .copy-write-text {
    color: $secondaryTextColor;
  }
}
