@import '../variables.scss';

#copy-write {
  position: fixed;
  padding: 24px 0 24px 32px;
  bottom: 0;
  width: 100%;
}

@media (prefers-color-scheme: no-preference) {
  #copy-write {
    background-color: $primaryColor;
  }

  .copy-write-text {
    color: $secondaryTextColor;
  }
}

@media (prefers-color-scheme: light) {
  #copy-write {
    background-color: $primaryLightColor;
  }

  .copy-write-text {
    color: $secondaryTextLightColor;
  }
}

@media (prefers-color-scheme: dark) {
  #copy-write {
    background-color: $primaryColor;
  }

  .copy-write-text {
    color: $secondaryTextColor;
  }
}
