@import '../variables.scss';

#copy-write {
  position: fixed;
  padding-left: 32px;
  padding-bottom: 24px;
  padding-top: 24px;
  bottom: 0;
  width: 100%;
  background-color: $primaryTextColor;
}

@media (prefers-color-scheme: no-preference) {
  .copy-write-text {
    color: $secondaryTextColor;
  }
}

@media (prefers-color-scheme: light) {
  .copy-write-text {
    color: $secondaryTextLightColor;
  }
}

@media (prefers-color-scheme: dark) {
  .copy-write-text {
    color: $secondaryTextColor;
  }
}
