@import '../variables.scss';

.header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background: linear-gradient(to bottom, #ffffff 70%, rgba(0, 0, 0, 0) 100%);

  a:link,
  a:visited {
    color: $secondaryColor;
    font-size: 1.2rem;
    text-decoration: none;
  }
  a:hover,
  a:active {
    color: $primaryColor;
    font-size: 1.3rem;
  }
  .header-right {
    position: absolute;
    top: 0;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    right: 2rem;
  }
  #header-name {
    margin-left: 2rem;
  }
  #header-projects {
    padding-right: 2rem;
  }
}
