@import '../variables.scss';

#projects {
  display: flex;
  flex-direction: column;
  margin: 0 16px 36px 16px;
}

.project-0,
.project-1,
.project-2 {
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  max-width: 360px;
  min-width: 148px;
  width: 100%;
  outline: none;
  position: absolute;
  opacity: 0;
}

.project-0-slide-in,
.project-1-slide-in,
.project-2-slide-in {
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  max-width: 360px;
  min-width: 148px;
  width: 100%;
  outline: none;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.project-name {
  display: flex;
  justify-self: flex-start;
  font-size: 24px;
}

.project-paragraph {
  display: flex;
  justify-self: flex-start;
  font-size: 14px;
  padding: 8px 0;
}

.availability {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

.availability-text {
  font-size: 14px;
  padding-right: 16px;
}

.platforms {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
}

.platform {
  margin-left: 16px;
  font-size: 14px;
}

.shown-screen-shot {
  display: flex;
  flex-direction: row;
}

.screen-shot {
  height: 320px;
  width: 160px;
  padding: 16px;
}

.screen-shot-navigation {
  width: 80px;
  display: flex;
  align-items: center;
}

.screen-shot-navigation-button-text {
  font-size: 16px;
}

.screen-shot-navigation-button {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
}

.screen-shot:hover,
.screen-shot-navigation-button:hover,
.project-0-slide-in:hover,
.project-1-slide-in:hover,
.project-2-slide-in:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: no-preference) {
  .project-0,
  .project-0-slide-in {
    background-color: $project0Color;
  }

  .project-1,
  .project-1-slide-in {
    background-color: $project1Color;
  }

  .project-2,
  .project-2-slide-in {
    background-color: $project2Color;
  }

  .project-name,
  .availability-text,
  .platform,
  .project-preview,
  .screen-shot-navigation-button-text {
    color: $primaryTextColor;
  }

  .project-paragraph {
    color: $secondaryTextColor;
  }

  .screen-shot-navigation-button {
    background-color: $primaryColor;
  }

  .project-0-slide-in:hover {
    background-color: $project0HoverColor;
  }
  .project-1-slide-in:hover {
    background-color: $project1HoverColor;
  }
  .project-2-slide-in:hover {
    background-color: $project2HoverColor;
  }
}

@media (prefers-color-scheme: light) {
  .project-0,
  .project-0-slide-in {
    background-color: $project0LightColor;
  }

  .project-1,
  .project-1-slide-in {
    background-color: $project1LightColor;
  }

  .project-2,
  .project-2-slide-in {
    background-color: $project2LightColor;
  }

  .project-name,
  .availability-text,
  .platform,
  .project-preview,
  .screen-shot-navigation-button-text {
    color: $primaryTextLightColor;
  }

  .project-paragraph {
    color: $secondaryTextLightColor;
  }

  .screen-shot-navigation-button {
    background-color: $primaryLightColor;
  }

  .project-0-slide-in:hover {
    background-color: $project0LightHoverColor;
  }
  .project-1-slide-in:hover {
    background-color: $project1LightHoverColor;
  }
  .project-2-slide-in:hover {
    background-color: $project2LightHoverColor;
  }
}

@media (prefers-color-scheme: dark) {
  .project-0,
  .project-0-slide-in {
    background-color: $project0Color;
  }

  .project-1,
  .project-1-slide-in {
    background-color: $project1Color;
  }

  .project-2,
  .project-2-slide-in {
    background-color: $project2Color;
  }

  .project-name,
  .availability-text,
  .platform,
  .project-preview,
  .screen-shot-navigation-button-text {
    color: $primaryTextColor;
  }

  .project-paragraph {
    color: $secondaryTextColor;
  }

  .screen-shot-navigation-button {
    background-color: $primaryColor;
  }

  .project-0-slide-in:hover {
    background-color: $project0HoverColor;
  }
  .project-1-slide-in:hover {
    background-color: $project1HoverColor;
  }
  .project-2-slide-in:hover {
    background-color: $project2HoverColor;
  }
}
