@import '../variables.scss';

#projects {
  display: flex;
  flex-direction: column;
  margin: 0 16px 36px 16px;
}

.project-0,
.project-1 {
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  max-width: 360px;
  min-width: 148px;
  width: 100%;
  outline: none;
}

.project-name {
  display: flex;
  justify-self: flex-start;
  font-size: 24px;
}

.project-paragraph {
  display: flex;
  justify-self: flex-start;
  font-size: 14px;
  padding: 8px 0;
}

.availability {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

.availability-text {
  font-size: 14px;
  padding-right: 16px;
}

.platforms {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
}

.platform {
  margin-left: 16px;
  font-size: 14px;
}

.shown-screen-shot {
  display: flex;
  flex-direction: row;
}

.screen-shot {
  height: 320px;
  width: 160px;
  padding: 16px;
}

.screen-shot-navigation {
  width: 48px;
  display: flex;
  align-items: center;
}

.screen-shot-navigation-button {
  border: none;
  background: none;
}

@media (prefers-color-scheme: no-preference) {
  .project-0 {
    background-color: #606060;
  }

  .project-1 {
    background-color: #4f4f4f;
  }

  .project-name,
  .availability-text,
  .platform,
  .project-preview,
  .screen-shot-navigation-button-text {
    color: $primaryTextColor;
  }

  .project-paragraph {
    color: $secondaryTextColor;
  }

  .screen-shot-navigation-button {
    background-color: $primaryColor;
  }
}

@media (prefers-color-scheme: light) {
  .project-0 {
    background-color: #848484;
  }

  .project-1 {
    background-color: #9b9b9b;
  }

  .project-name,
  .availability-text,
  .platform,
  .project-preview,
  .screen-shot-navigation-button-text {
    color: $primaryTextLightColor;
  }

  .project-paragraph {
    color: $secondaryTextLightColor;
  }

  .screen-shot-navigation-button {
    background-color: $primaryLightColor;
  }
}

@media (prefers-color-scheme: dark) {
  .project-0 {
    background-color: #606060;
  }

  .project-1 {
    background-color: #4f4f4f;
  }

  .project-name,
  .availability-text,
  .platform,
  .project-preview,
  .screen-shot-navigation-button-text {
    color: $primaryTextColor;
  }

  .project-paragraph {
    color: $secondaryTextColor;
  }

  .screen-shot-navigation-button {
    background-color: $primaryColor;
  }
}
