@import 'constants/sizes';

.avatar {
  border-radius: 1000px;
}

.content {
  text-align: center;
  width: calc(100% - ($global-horizontal-padding * 2));
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
