body {
  font-family: 'Fredoka One', sans-serif;
  color: #ffffff;
  width: 700px;
  margin: 0 auto;
  background-color: #000000;
  background-image: radial-gradient(circle, #000000, #3b3b3b);
  padding: 0 20px 20px 20px;
}

#my-name {
  font-size: 6em;
  line-height: 1em;
  text-align: center;
  position: relative;
}
#my-name:hover {
  cursor: default;
}
#my-name .wrapper {
  display: inline-block;
  top: -900px;
  position: relative;
  height: 150px;
  width: 90px;
  transition: ease 0.3s all;
}
#my-name .wrapper span {
  position: absolute;
  top: 0;
  right: 0;
  transition: ease 0.3s all;
}
#my-name .wrapper span.letter-2 {
  color: #21df08;
}
#my-name .wrapper span.letter-1 {
  /* color: #ffffff; */
  z-index: 1;
}
#my-name .wrapper span.letter-1:hover {
  top: -3px;
  right: -3px;
}
#my-name .wrapper span.letter-1:hover ~ .letter-2 {
  top: 3px;
  right: 3px;
}
#my-name .wrapper span.space {
  padding: 0;
  min-width: 30px;
  display: inline-block;
}

.about-me-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

#image-of-me {
  width: 50%;
  height: 20rem;
  max-width: auto;
  border-radius: 50%;
}

#about-me {
  width: 50%;
  font-size: 1rem;
  text-align: center;
  padding-left: 20px;
}

ul {
  list-style: none;
  margin-right: 2rem;
}

.repo-tag {
  border-style: ridge;
  border-width: 0.2rem;
  margin: 1rem;
  padding-left: 0.5rem;
}

.repo-language {
  float: left;
}

.repo-date {
  margin-left: 23rem;
}

a {
  color: #21df08;
  text-decoration: none;
}

a:hover {
  color: #00ffaa;
  text-decoration: underline;
}

a:active {
  color: #fbff00;
  text-decoration: underline;
}

.contact {
  text-align: center;
}

.contact a {
  margin: 1rem;
}
