@import './variables.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $PrimaryFontFamily;
}

@media (prefers-color-scheme: no-preference) {
  body {
    background-color: $primaryColor;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: $primaryLightColor;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $primaryColor;
  }
}
