@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$primaryTextColor: #ffffff;
$primaryTextLightColor: #121212;
$primaryColor: #000000;
$primaryLightColor: #ffffff;
$secondaryTextColor: #9f9f9f;
$secondaryTextLightColor: #4a4a4a;
$project0Color: #606060;
$project1Color: #4f4f4f;
$project2Color: #393838;
$project0LightColor: #848484;
$project1LightColor: #9b9b9b;
$project2LightColor: #b3b3b3;
$project0HoverColor: #37a526;
$project1HoverColor: #adb51c;
$project2HoverColor: #b31414;
$project0LightHoverColor: #44c630;
$project1LightHoverColor: #ced723;
$project2LightHoverColor: #e61d1d;
$PrimaryFontFamily: 'Open Sans', 'sans-serif';
